.card {
    border: 1px solid black;
    width: 240px;
    height: 350px;

    display: flex;
    flex-direction: column;
    background-color: #232323;
    border-radius: 10px;
}

.card_title {
    margin-left: auto;
    margin-right: auto;
}

.card_title > h3 {
    text-align: center;
    color: white;
    text-transform: capitalize;
}

.card_body {
    background-color: #616161;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_stats {
 padding-top: 10px;
 display: flex;
 flex-direction: row;
 justify-content: center;   
}

.card_stats_type {
    color: rgb(0, 0, 0);
    font-weight: bold;

    background-color: coral; 
    border-radius: 5px;
    
    padding: 5px;
    margin-right: 4px;
}